<h1>Felicitaciones por su compra</h1>
<div>
  <article>
    <h2>Su ticket</h2>
    <p><b>Code:</b> {{ticket.code}}</p>
    <p><b>Amount:</b> {{ticket.amount}}</p>
    <p><b>Purchaser:</b> {{ticket.purchaser}}</p>
    <p><b>Fecha:</b> {{ticket.createdAt}}</p>
  </article>
</div>